@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-bg: #0A0A0A;
  --color-brand-surface: #141414;
  --color-brand-accent: #C5A059;
  --color-brand-text-main: #E5E5E5;
  --color-brand-text-dim: #888888;
  --color-brand-border: rgba(255, 255, 255, 0.08);
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text-main font-sans antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
